$primary: #ABC3D9;

body {
  background-color: #fafafa;
  background-image: url(../images/greyzz.png);
  margin-top: 20px;
}

a {
  color: darken($primary, 10%);

  &:hover {
    color: darken($primary, 20%);
  }
}

h1,
h2,
h4,
h5,
h6 {
  color: #555;
}

hr {
  margin: 5px 0;
}

input,
select {
  background-image: url(../images/crossword.png) !important;
  border-color: #ddd !important;
}

.has-success {
  .control-label {
    color: #78A78D;
  }

  .form-control-feedback {
    color: darken(#78A78D, 10%);
  }
}

.btn-primary {
  background-color: darken($primary, 30%);
  border-color: lighten($primary, 10%);

  &:hover {
    background-color: darken($primary, 40%);
    border-color: lighten($primary, 10%);
  }
}

.well,
.active a,
.contact-create:hover {
  background-image: url(../images/stardust.png);
  color: #fff;
}

.title {
  margin: 15px 0;
  overflow: hidden;

  h1 {
    margin: 0;
    color: $primary;
  }

  @media (min-width: 768px) {
    margin: 0 0 15px;
  }
}
